<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <appSettings>
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <remove name="AspNetSqlMembershipProvider_2" />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider,System.Web, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="conn" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/Solarc" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
        <add name="AspNetSqlMembershipProvider_2" type="System.Web.Security.SqlMembershipProvider,System.Web, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="conn" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/Solarc" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <profile enabled="true">
      <providers>
        <remove name="AspNetSqlProfileProvider" />
        <add name="AspNetSqlProfileProvider" connectionStringName="conn" applicationName="/Solarc" type="System.Web.Profile.SqlProfileProvider,System.Web, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
      <properties>
        <add name="ProcessEPayment" type="string" defaultValue="0" />
        <add name="ProcessGPayment" type="string" defaultValue="0" />
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <remove name="AspNetSqlRoleProvider" />
        <add connectionStringName="conn" applicationName="/Solarc" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider,System.Web, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <!--<add assembly="Microsoft.Office.Interop.Owc11, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" timeout="30" slidingExpiration="false" />
    </authentication>
    <customErrors mode="Off" />
  </system.web>
  <location path="webapp/secure">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="webapp/parameters">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Solarc.webapp.secure.services.EntityServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Solarc.webapp.secure.services.ProcessGServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Solarc.webapp.secure.services.CourtServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Solarc.webapp.secure.services.ProcessEServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Solarc.webapp.secure.services.CalendarServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Solarc.webapp.secure.services.UserServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Solarc.webapp.secure.services.EntityService">
        <endpoint address="" behaviorConfiguration="Solarc.webapp.secure.services.EntityServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Solarc.webapp.secure.services.EntityService" />
      </service>
      <service name="Solarc.webapp.secure.services.ProcessGService">
        <endpoint address="" behaviorConfiguration="Solarc.webapp.secure.services.ProcessGServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Solarc.webapp.secure.services.ProcessGService" />
      </service>
      <service name="Solarc.webapp.secure.services.CourtService">
        <endpoint address="" behaviorConfiguration="Solarc.webapp.secure.services.CourtServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Solarc.webapp.secure.services.CourtService" />
      </service>
      <service name="Solarc.webapp.secure.services.ProcessEService">
        <endpoint address="" behaviorConfiguration="Solarc.webapp.secure.services.ProcessEServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Solarc.webapp.secure.services.ProcessEService" />
      </service>
      <service name="Solarc.webapp.secure.services.CalendarService">
        <endpoint address="" behaviorConfiguration="Solarc.webapp.secure.services.CalendarServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Solarc.webapp.secure.services.CalendarService" />
      </service>
      <service name="Solarc.webapp.secure.services.UserService">
        <endpoint address="" behaviorConfiguration="Solarc.webapp.secure.services.UserServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Solarc.webapp.secure.services.UserService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>